{% extends "base_generic.html" %}

{% block content %}
  <button style="border-radius: 50%;border-color: black;" disabled>
    <a href="{% url 'author-list' %}">
    <i class="fa fa-arrow-left" onmouseover = "this.style.color = 'black'" onmouseout = "this.style.color = 'blue'" ></i>
    </a>
  </button>
  <button style="border-color: black;" disabled>
    <a onmouseover = "this.style.color = 'black'" onmouseout = "this.style.color = 'blue'" href="{% url 'author-delete' author.id %}" style="text-decoration: none;">Delete
    </a>
  </button>
  <button style="border-color: black;" disabled>
    <a onmouseover = "this.style.color = 'black'" onmouseout = "this.style.color = 'blue'" href="{% url 'author-update' author.id %}" style="text-decoration: none;">Update
    </a>
  </button>
  <br><br>
  <h3>Author Detail</h3>
  <p><strong>Name: </strong>{{ author.name }}</p>
  <p><strong>Bio: </strong>{{ author.bio }}</p>
  <p><strong>Phone No: </strong>{{ author.phone }}</p>
  <p><strong>Books by this author: </strong>
    {% if author.book_set.all %}
      <ul>
        {% for book in author.book_set.all %}
          <li>{{ book }}</li>
        {% endfor %}
      </ul>
    {% else %}
      No books by this author
    {% endif %}
  </p>
  {% endblock %}