{% extends "base_generic.html" %}

{% block content %}

    <div style="margin: 1%">
        <h1>Create Book</h1>
        <br><br>
        <button style="border-radius: 50%;border-color: black;" disabled>
            <a href="{% url 'index' %}">
            <i class="fa fa-arrow-left" onmouseover = "this.style.color = 'black'" onmouseout = "this.style.color = 'blue'" ></i>
            </a>
        </button>
        <br><br>
      <form action="" method="post">
        {% csrf_token %}
        <table>
        {{ form.as_table }}
        </table>
        <input type="submit" value="Submit">
      </form>
    </div>


{% endblock %}