{% extends "base_generic.html" %}

{% block content %}

    <div style="margin: 1%">
        <button style="border-radius: 50%;border-color: black;" disabled>
            <a href="{% url 'book-list' %}">
            <i class="fa fa-arrow-left" onmouseover = "this.style.color = 'black'" onmouseout = "this.style.color = 'blue'" ></i>
            </a>
        </button>
        <br><br>
        <h1>Create Book</h1>
      <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
        {{ form.as_table }}
        </table>
        <input type="submit" value="Submit">
      </form>
    </div>


{% endblock %}