{% extends "base_generic.html" %}

{% block content %}
    <h1>Custom Filter</h1>
    <form method="get">
        <table>
        {{ filter.form.as_table }}
        </table>
        <input type="submit" />
    </form>
    <h5>Result</h5>
    {% if filter.qs %}
    <ul>
    {% for book in filter.qs %}
      <li>
        <a class="mylist-ele" href="">{{ book.title }}</a>- {{ book.author }}
      </li>
    {% endfor %}
    </ul>
  {% else %}
    <p>There are no event from the filter.</p>
  {% endif %}

{% endblock %}